<div id="container" style="width:100%; height:400px;"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('container', {

            title: {
                text: 'Total Pulmonary Disease Diagnoses By Year'
            },

            yAxis: {
                title: {
                    text: 'No. of Diagnoses'
                }
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2006
                }
            },

            series: [{
                name: 'All Diseases (Lung Cancer, COPD, Bronchiectasis & Asthma)',
                data: <%= @totals %>
            }]
        })
    })
</script>
<p>The analytical plotting of the total diagnoses per year clearly shows that, over the years, there has been an increase
in pulmonary diseases.</p>
<p></p>
<iframe title="Average Diagnosis" aria-label="United Kingdom regions choropleth map" id="datawrapper-chart-f9Ba9" src="//datawrapper.dwcdn.net/f9Ba9/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
<p>Furthermore, analysing the average number of diagnoses per year by each region shows that some regions have a lot more diagnoses than others.
Perhaps this is due to the air quality being poorer in these areas.</p>


<h4><ul>Search Tool</ul></h4>
<h5>This can be used to further search for pulmonary disease diagnosis in different regions by year.</h5>
<h5>A chart containing the data will be shown on a new page.</h5>
<p></p>
<%= form_with :url => {:action => :index}, :method => "get" do |form| %>
  <em><%= form.label "Select year and region:" %></em>S
  <%= form.collection_select(:search_year, @years, :year, :year) %>
  <%= form.collection_select(:search_region, @regions, :id, :name) %>
  <%= form.submit("Go!") %>
<% end %>
