<%= form_with(model: disease_record, local: true) do |form| %>
  <% if disease_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disease_record.errors.count, "error") %> prohibited this disease_record from being saved:</h2>

      <ul>
      <% disease_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :region_id %>
      <p><%= form.collection_radio_buttons(:region_id, Region.all, :id, :name ) %></p>
  </div>

  <div class="field">
    <%= form.label :lc %>
    <%= form.number_field :lc %>
  </div>

  <div class="field">
    <%= form.label :copd %>
    <%= form.number_field :copd %>
  </div>

  <div class="field">
    <%= form.label :bronch %>
    <%= form.number_field :bronch %>
  </div>

  <div class="field">
    <%= form.label :asthma %>
    <%= form.number_field :asthma %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
