<p id="notice"><%= notice %></p>

<h1>Disease Records</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Region</th>
      <th>Lc</th>
      <th>Copd</th>
      <th>Bronch</th>
      <th>Asthma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disease_records.each do |disease_record| %>
      <tr>
        <td><%= disease_record.year %></td>
        <td><%= disease_record.region %></td>
        <td><%= disease_record.lc %></td>
        <td><%= disease_record.copd %></td>
        <td><%= disease_record.bronch %></td>
        <td><%= disease_record.asthma %></td>
        <td><%= link_to 'Show', disease_record %></td>
        <td><%= link_to 'Edit', edit_disease_record_path(disease_record) %></td>
        <td><%= link_to 'Destroy', disease_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disease Record', new_disease_record_path %>
