<head>
  <%= stylesheet_link_tag 'materialize' %>
</head>

<body>

<div class = "header">
<h1>BreatheFree</h1>
</div>

<ul>
  <li><%= link_to 'Home', airquality_index_path %></li>
  <li><%= link_to 'Pulmonary Diseases', airquality_history_path %></li>
  <li><%= link_to 'How do I keep safe?', airquality_safety_path %></li>
</ul>

<p> <%= link_to 'Country', countries_path %>  | <%= link_to 'State', states_path %>
  | <%= link_to 'City', cities_path %></p>
</body>
